:root {
  --color-primary: #1D4ED8;
  --color-primary-light: #3B82F6;
  --color-primary-dark: #1E40AF;
  --color-secondary: #059669;
  --color-secondary-light: #10B981;
  --color-secondary-dark: #047857;
  --color-neutral: #9CA3AF;
  --color-neutral-light: #F3F4F6;
  --color-neutral-dark: #374151;
  --color-danger: #DC2626;
  --color-danger-light: #FCA5A5;
  --color-danger-dark: #B91C1C;
}

@import "tailwindcss";